@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Medium.eot');
    src: local('../fonts/SF Pro Display Medium'), local('../static/fonts2/SFProDisplay-Medium'),
    url('../fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFProDisplay-Medium.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Medium.woff') format('woff'),
    url('../fonts/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Ultralight.eot');
    src: local('../static/fonts2/SF Pro Display Ultralight'), local('../static/fonts2/SFProDisplay-Ultralight'),
    url('../fonts/SFProDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFProDisplay-Ultralight.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Ultralight.woff') format('woff'),
    url('../fonts/SFProDisplay-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Regular.eot');
    src: local('../fonts/SF Pro Display Regular'), local('../static/fonts2/SFProDisplay-Regular'),
    url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Regular.woff') format('woff'),
    url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Default styles */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "SF Pro Display", sans-serif;
    width: 100%;
    height: 100%;
    margin-top: 75px;
    transition: margin-top .4s;
    z-index: 1;
}

body.hidden {
    overflow: hidden;
    margin-top: 0;
    z-index: -1;
}

.container {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 1250px) {
    .container {
        padding: 0 5%;
    }
}

a {
    text-decoration: none;
}

.heading {
    font-weight: 600;
    font-size: 36px;
    line-height: 105%;
    letter-spacing: -0.04em;
    color: #42424C;
}

.heading span {
    color: #F54343;
}

.flex_content {
    display: flex;
    width: 100%;
}

.subheading {
    font-weight: 450;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.06em;
    color: #F54343;
    display: block;
}

section {
    border-bottom: 2px solid #42424c33;
}

section.delivery_network_section {
    border-bottom: 0;
}

section.offer_registration_section {
    border-bottom: 0;
}

/* Скролл страницы справа */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb:vertical {
    background: #F54343;
}

/* Preloader */
.preloader {
    opacity: 0;
    z-index: -1;
    width: 0;
    height: 0;
}

.preloader.visible {
    position: fixed;
    z-index: 500;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    flex-direction: column;
}

.preloader .logo span {
    font-size: 56px;
    font-weight: bold;
    position: relative;
    animation: preloader_span 3s ease-in-out infinite;
}

.preloader .logo span:before {
    content: "";
    position: absolute;
    top: 0;
    width: 1em;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    animation: preloader_span_before 3s ease-in-out infinite;
}


@keyframes preloader_span_before {
    from {
        -webkit-transform: translateX(-4em) skewX(-45deg);
        -ms-transform: translateX(-4em) skewX(-45deg);
        transform: translateX(-4em) skewX(-45deg);
        left: 0;
    }
    to {
        -webkit-transform: translateX(0.5em) skewX(-45deg);
        -ms-transform: translateX(0.5em) skewX(-45deg);
        transform: translateX(0.5em) skewX(-45deg);
        left: 110%;
    }
}

@keyframes preloader_span {
    from {
        opacity: 0.7;
    }
    to {
        opacity: 1;
        -webkit-transition: opacity .4s ease .1s;
        -o-transition: opacity .4s ease .1s;
        transition: opacity .4s ease .1s;
    }
}

.loading{
    display: flex;
    margin-top: 50px;
    align-items: flex-end;
}
.loading_text{
    font-size: 36px;
    font-weight: 900;
}
.loading_bullet{
    width: 5px;
    height: 5px;
    background: #F54343;
    border-radius: 50%;
    margin: 0 0 5px 10px;
}
.loading_bullet:first-child{
    animation: lb .4s ease-in-out infinite;
}
.loading_bullet:nth-child(2n){
    animation: lb .8s ease-in-out infinite;
}
.loading_bullet:nth-child(3n){
    animation: lb 1.2s ease-in-out infinite;
}
.loading_bullet:last-child{
    animation: lb 1.6s ease-in-out infinite;
}

@keyframes lb {
    25% {
        opacity: 0;
        transition: opacity .4s;
    }
    50%{
        opacity: 0.5;
        transition: opacity .4s;
    }
    100% {
        opacity: 1;
        transition: opacity .4s;
    }
}

/* Header */
.header {
    padding: 10px 0;
    box-shadow: 0 5px 8px rgb(66 66 76 / 20%);
    position: fixed;
    width: 100%;
    z-index: 450;
    background: #FFFF;
    top: 0;
    left: 0;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #F54343;
    font-size: 46px;
    cursor: pointer;
}

.logo a {
    color: #F54343;
    text-decoration: none;
}

.logo a:hover {
    text-decoration: none;
    color: #F54343;
}

.go_to_site_btn {
    width: 345px;
    border: 2px solid #F54343;
    border-radius: 8px;
    color: #F54343;
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}

.go_to_site_btn:hover {
    color: #FFFFFF;
    background: #F54343;
    border: 2px solid #dddddd;
    transition: all .5s;
    cursor: pointer;
}

@media screen and (min-width: 200px) and (max-width: 650px) {
    .go_to_site_btn {
        width: auto;
        padding: 0 15px;
    }
}

/* Первый блок о нас */
.about_section {
    width: 100%;
    height: auto;
    min-height: 460px;
    background: #F54343;
    position: relative;
    padding-top: 120px;
}

.about_section_heading_img {
    width: 70%;
    position: absolute;
    z-index: 1;
    top: 20%;
    opacity: 0.15;
}

.about_section_heading_img.second {
    opacity: 0.1;
    top: 40%;
}

.about_section_phones_img {
    position: absolute;
    z-index: 100;
    right: 4%;
    max-width: 800px;
    bottom: 0;
}

.about_section_cloud_img {
    position: absolute;
    z-index: 101;
    bottom: 0;
    width: 100%;
}

.about_section_data {
    max-width: 350px;
}

.about_section_data .heading {
    color: #FFFFFF;
    line-height: 120%;
}

.about_section_data p {
    font-size: 20px;
    color: #FFFFFF;
    padding-top: 20px;
    line-height: 110%;
    letter-spacing: -0.01em;
}

@media screen and (max-width: 1250px) {
    .about_section {
        height: 650px;
        padding-top: 20px;
    }

    .about_section_data .heading {
        text-align: center;
    }

    .about_section_data p {
        text-align: center;
    }

    .about_section_data {
        max-width: 100%;
    }

    .about_section_heading_img {
        top: 10%;
        left: 10%;
    }

    .about_section_heading_img.second {
        top: 30%;
        left: 10%;
    }
}

@media screen and (max-width: 850px) {
    .about_section_heading_img {
        top: 20%;
        width: 80%;
    }

    .about_section_heading_img.second {
        width: 80%;
    }
}

@media screen and (min-width: 750px) and (max-width: 850px) {
    .about_section_phones_img {
        max-width: 700px;
    }
}

@media screen and (min-width: 250px) and (max-width: 750px) {
    .about_section_phones_img {
        max-width: 100%;
        right: auto;
    }
}

@media screen and (min-width: 500px) and (max-width: 650px) {
    .about_section {
        height: 550px;
    }
}

@media screen and (min-width: 200px) and (max-width: 500px) {
    .about_section {
        height: 520px;
    }

    .about_section_heading_img {
        opacity: 0.35;
    }

    .about_section_heading_img.second {
        opacity: 0.2;
    }
}


/* More about us */
.more_about_us_section {
    width: 100%;
    background: #fff;
    padding: 75px 0;
}

.more_about_us_item {
    width: 33%;
    margin-bottom: 15px;
    padding-right: 15px;
}

.more_about_us_item .heading {
    line-height: 125%;
}

.more_about_us_data {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.03em;
}

@media screen and (max-width: 950px) {
    .more_about_us_section .flex_content:first-child {
        display: block;
        text-align: center;
    }

    .more_about_us_section .flex_content:first-child .more_about_us_item {
        width: 100%;
    }

    .more_about_us_section .flex_content:first-child .more_about_us_item:last-child {
        display: none;
    }

    .more_about_us_section .flex_content:first-child .more_about_us_item .subheading {
        font-size: 24px;
    }

    .more_about_us_section .flex_content:last-child {
        margin-top: 40px;
    }

    .more_about_us_section .flex_content:last-child .more_about_us_item:first-child {
        display: none;
    }

    .more_about_us_section .flex_content:last-child .more_about_us_item {
        width: 50%;
    }

    .more_about_us_section .flex_content:last-child .more_about_us_item:last-child {
        padding-left: 15px;
    }
}


/* Benefits section */
.benefits_section {
    width: 100%;
    height: 550px;
    position: relative;
    background: #0c1011;
}

.benefits_background_place {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.benefits_background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.benefits_section .heading {
    color: #FFFFFF;
    padding-bottom: 3%
}

.benefits_section__data {
    padding-top: 7%;
    position: absolute;
}

.benefits_data {
    width: 100%;
    display: flex;
    max-width: 80%;
    padding-top: 30px;
}

.benefits_data:last-child {
    padding-top: 20px;
}

.benefits_data__item {
    width: 25%;
    color: #FFFFFF;
    margin-right: 2.5%;
}

.benefits_data__item_heading {
    color: #FFFFFF;
    display: block;
    font-weight: 550;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.01em;
    padding-bottom: 15px;
}

.benefits_data__item_text {
    font-size: 18px;
    padding-right: 15px;
    line-height: 110%;
    color: #e0e0e0;
}

@media screen and (max-width: 1100px) {
    .benefits_data__item {
        width: 40%;
    }
}

@media screen and (max-width: 900px) {
    .benefits_background {
        object-fit: contain;
    }

    .benefits_section {
        height: 800px;
    }

    .benefits_background_place {
        height: 60%;
        top: auto;
        bottom: 0;
    }

    .benefits_data {
        max-width: 100%;
    }

    .benefits_data__item {
        width: 50%;
    }
}

@media screen and (max-width: 550px)  and (min-width: 100px) {
    .benefits_section {
        height: 900px;
    }
}

/* Order information section */
.order_information_section {
    padding: 75px 0;
}

.order_information_section .heading {
    text-align: center;
}

.order_way {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 50px 0 50px;
}

.order_way__item {
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.order_way__item_circle {
    width: 36px;
    height: 36px;
    border-radius: 45%;
    background: #F54343;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.order_way__item_text {
    text-align: center;
    margin-top: 15px;
}

@media screen and (max-width: 950px) {
    .order_way {
        padding: 40px 0 0 0;
        flex-wrap: wrap;
    }

    .order_way__item:nth-child(2n) {
        display: none;
    }

    .order_way__item {
        width: 49%;
        margin-bottom: 40px;
        justify-content: initial;
        height: 120px;
    }

    .order_way__item:last-child {
        width: 100%;
    }

    .order_way__item_circle {
        width: 45px;
        height: 45px;
        margin: 0 auto;
    }

    .order_way__item_text {
        font-size: 24px;
    }
}

/* Delivery network section */
.delivery_network_section {
    width: 100%;
    height: 500px;
    background: #F1F2F5;
    position: relative;
    padding: 50px 0;
}

.delivery_network_section .container {
    padding-top: 5%;
}

.delivery_network__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.delivery_network__truck_img {
    width: 100%;
    max-width: 1400px;
    height: 100%;
    max-height: 700px;
    padding-left: 30%;
    z-index: 2;
    position: absolute;
    object-fit: contain;
    margin-top: -10%;
}

.delivery_network__cloud_img {
    width: 40%;
    z-index: 1;
    position: absolute;
    top: 4%;
}

.delivery_network__subheading {
    color: #F54343;
    margin: 40px 0 20px 0;
    z-index: 25;
}

.delivery_network__subheading__text {
    font-size: 18px;
    padding-right: 15px;
    line-height: 102%;
    color: #42424C;
    max-width: 350px;
    z-index: 25;
}

@media screen and (max-width: 1100px) and (min-width: 200px) {
    .delivery_network_section {
        height: 700px;
    }

    .delivery_network__container {
        display: block;
        position: initial;
    }

    .delivery_network__truck_img {
        padding-left: 0;
        bottom: 0;
        object-fit: contain;
        max-height: 350px;
    }

    .delivery_network__cloud_img {
        bottom: 30%;
        top: auto;
    }

    .delivery_network_section .container {
        text-align: center;
    }

    .delivery_network__subheading {
        font-size: 24px;
    }

    .delivery_network__subheading__text {
        max-width: 100%;
    }

}

@media screen and (max-width: 600px) and (min-width: 200px) {
    .delivery_network_section {
        height: 600px;
    }
}

/* Offer to register section */
.offer_registration_section {
    background: #F1F2F5;
    height: 100%;
    position: relative;
    width: 100%;
    padding-bottom: 110px;
    min-height: 670px;
}

.offer_registration__cloud_img {
    max-width: 50%;
    position: absolute;
    z-index: 1;
    top: 12%;
    right: 0;
    max-height: 450px;
}

.offer_registration__phone_img {
    max-width: 100%;
    position: absolute;
    z-index: 2;
    max-height: 600px;
    width: 60%;
    top: 10%;
    left: 40%;
    object-fit: contain;
}

.offer_registration__data {
    padding-top: 10%;
    max-width: 400px;
}

.offer_registration_text {
    margin: 40px 0 15px 0;
    line-height: 125%;
    font-size: 18px;
    padding-right: 15px;
    color: #42424C;
}

.registration_btn {
    background: #F54343;
    text-align: center;
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 18px;
    padding: 12px 0;
    max-width: 225px;
    transition: all .5s;
    opacity: 0.9;
    display: block;
}

.registration_btn:hover {
    cursor: pointer;
    opacity: 1;
    transition: all .5s;
}

@media screen and (max-width: 950px) and (min-width: 200px) {
    .offer_registration_section {
        height: 800px;
    }

    .offer_registration__data {
        max-width: 100%;
        text-align: center;
    }

    .registration_btn {
        margin: 0 auto;
    }

    .offer_registration__phone_img {
        max-width: 60%;
        position: absolute;
        z-index: 2;
        max-height: 100%;
        top: auto;
        left: 25%;
        bottom: 0;
    }

    .offer_registration__cloud_img {
        bottom: 20%;
        top: auto;
        max-width: 60%;
    }

}

@media screen and (max-width: 750px) and (min-width: 200px) {
    .offer_registration__phone_img {
        max-width: 100%;
        max-height: 60%;
        left: 15%;
        object-fit: cover;
        width: 90%;
    }
}

@media screen and (max-width: 600px) and (min-width: 200px) {
    .offer_registration__phone_img {
        left: auto;
    }
}
